<section class="container white z-depth-1 wrapper-margin-top-padding">
  <div class="row">
    <form class="col s10 m8 offset-s1 offset-m2" name="registerEvaluatorForm" ng-submit="$ctrl.sendRegister()" novalidate>
      <h4 class="center-align color-brown">Registro de Evaluadores</h4>
      <p class="center-align grey-text">Los campos marcados con <strong class="red-text font-medium">*</strong> son obligatorios.</p>
      <span style="margin-left:-30px" class="font-bold color-lightseagreen">1° Información personal.</span>
      <div class="row">
        <div class="input-field">
          <input id="first_name" type="text" class="validate" ng-model="$ctrl.register.person.name.first" required>
          <label for="first_name" data-error="Ingresa tu nombre" data-success="Ok"><strong class="red-text">*</strong> Nombre:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="last_name" type="text" class="validate" ng-model="$ctrl.register.person.name.last" required>
          <label for="last_name" data-error="Ingresa tu apellido" data-success="Ok"><strong class="red-text">*</strong> Apellido:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <select ng-model="$ctrl.register.person.identification.type">
            <option value="cc">Cédula de Ciudadanía</option>
            <option value="ce">Cédula de Extranjería</option>
            <option value="nt">NIT</option>
          </select>
          <label>Tipo de documento:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="numberType" type="number" min="0" class="validate" ng-model="$ctrl.register.person.identification.number" required>
          <label for="numberType" data-error="Ingresa un número de identificación válido" data-success="Ok"><strong class="red-text">*</strong> Numero de documento:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="email" type="email" class="validate" ng-model="$ctrl.register.person.email" required>
          <label for="email" data-error="Ingresa un correo válido" data-success="Ok"><strong class="red-text">*</strong> Correo electrónico:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="numberPhone" type="number" min="0" class="validate" ng-model="$ctrl.register.person.numberPhone" required>
          <label for="numberPhone" data-error="Ingresa un número de celular válido" data-success="Ok"><strong class="red-text">*</strong> Número de Teléfono:</label>
        </div>
      </div>
      <span style="margin-left:-30px" class="font-bold color-lightseagreen">2° Información del evaluador.</span>
      <div class="row" style="margin-top: 40px">
        <div class="input-field">
          <select ng-model="$ctrl.register.evaluator.typeUser">
            <option value="user">Usuario del servicio</option>
            <option value="expert">Experto</option>
          </select>
          <label>Perfil:</label>
        </div>
      </div>
      <div class="row">
        <label for=""><strong class="red-text">*</strong> Categorias de interés:</label><br>
        <small class="blue-text"><strong>Nota:</strong> Selecciona mínimo una categoría</small>
        <div class="row" style="margin-top: 10px">
          <div class="col s12 m4">
            <input type="checkbox" id="service_line" ng-model="$ctrl.register.evaluator.categories.serviceLine"/>
            <label for="service_line">Servicio en Linea</label>
          </div>
          <div class="col s12 m4">
            <input type="checkbox" id="government_open" ng-model="$ctrl.register.evaluator.categories.governmentOpen"/>
            <label for="government_open">Gobierno Abierto</label>
          </div>
          <div class="col s12 m4">
            <input type="checkbox" id="capacity" ng-model="$ctrl.register.evaluator.categories.capacity"/>
            <label for="capacity">Capacidades de TI</label>
          </div>
        </div>
      </div>
      <div class="row" ng-show="$ctrl.register.evaluator.categories.governmentOpen">
        <label for="">Temas de interés para evaluar:</label>
        <div class="row" style="margin-top: 10px">
          <div class="col s12 m4">
            <input type="checkbox" id="usability" ng-model="$ctrl.register.evaluator.topics.usability"/>
            <label for="usability">Usabilidad</label>
          </div>
          <div class="col s12 m4">
            <input type="checkbox" id="accesibility" ng-model="$ctrl.register.evaluator.topics.accesibility"/>
            <label for="accesibility">Accesibilidad</label>
          </div>
          <div class="col s12 m4">
            <input type="checkbox" id="interoperability" ng-model="$ctrl.register.evaluator.topics.interoperability"/>
            <label for="interoperability">Interoperabilidad</label>
          </div>
          <div class="col s12 m4">
            <input type="checkbox" id="multichannel" ng-model="$ctrl.register.evaluator.topics.multichannel"/>
            <label for="multichannel">Multicanalidad</label>
          </div>
          <div class="col s12 m4">
            <input type="checkbox" id="security" ng-model="$ctrl.register.evaluator.topics.security"/>
            <label for="security">Seguridad</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <select ng-model="$ctrl.register.evaluator.timeAvailability">
            <option value="hight">Alto</option>
            <option value="middle">Medio</option>
            <option value="low">Bajo</option>
          </select>
          <label>Disponibilidad de tiempo:</label>
        </div>
      </div>
      <div class="row">
        <input type="checkbox" id="terms" ng-model="$ctrl.register.terms"/>
        <label for="terms">
          <a href="#!/terminos-y-condiciones" target="_blank">
          <strong class="red-text">*</strong>
          Acepto los terminos y condiciones</a>
        </label>
      </div>
      <div class="right-align">
        <button type="submit" class="waves-effect waves-light btn-large" ng-disabled="registerEvaluatorForm.$invalid || !$ctrl.register.terms">
          <i class="material-icons right">send</i>
          Registrar
        </button>
      </div>
    </form>
  </div>
</section>
