.bannerdetail
  padding 10px

.bannerdetail .banner
  position relative
  height 400px
  overflow hidden

.bannerdetail .banner .caption
  padding 0px 20px
  position absolute
  height 145px
  width 100%
  background-color rgba(0,0,0,0.5)
  top 250px
  left 0px

.bannerdetail img,
.bannerdetail video
  width 100%
  height 400px
  object-fit contain
