.bannerdetail
  padding 10px

.bannerdetail .banner
  position relative
  height 400px
  overflow hidden

.bannerdetail .banner ._caption
  padding-top 88px 
  padding-left 20px
  padding-right 50px
  position absolute
  height 400px
  width 45%
  top 0px
  left 45%

.bannerdetail img,
.bannerdetail video
  width 100%
  height 400px
  object-fit contain
