<div class="profileEvaluator">
    <div class="container">
        <div class="card white color-brown row title">
            <h3><i class="fa fa-users"></i>{{$ctrl.entity.name}}</h3>
        </div>
        <div class="row">
            <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'profile'}" ng-click="$ctrl.setSection('profile')">
                <div class="center-align">
                    <i class="fa fa-users"></i>Perfil
                </div>
            </div>
            
            <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'activity'}" ng-click="$ctrl.setSection('activity')">
                <div class="center-align">
                    Evaluaciones
                </div>
            </div>
            <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'learn'}" ng-click="$ctrl.setSection('learn')">
                <div class="center-align">
                    Aprende y Enseña
                </div>
            </div>
            <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'advance'}" ng-click="$ctrl.setSection('advance')">
                <div class="center-align">
                    Mi Avance
                </div>
            </div>

        </div>

    </div>
    <div class="container">
        <profiledata-evaluator ng-if="$ctrl.section === 'profile'"></profiledata-evaluator>
        <activity-evaluator ng-if="$ctrl.section === 'activity'"></activity-evaluator>
        <learn-evaluator ng-if="$ctrl.section === 'learn'"></learn-evaluator>
        <advance-evaluator ng-if="$ctrl.section === 'advance'"></advance-evaluator>
    </div>
</div>

<footer-app></footer-app>