@import '../../colors.styl'

.requisite .tips
    padding 15px

.requisite .lightgray
    background $lightgray

.requisite .content
    padding 10px
    height 160px
    overflow-y auto

.requisite .tips div
    cursor pointer

.requisite .bottom button
    margin-top 10px