<section class="activity">
    <div class="row activity-tabs" ng-if="!$ctrl.requisite">
        <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'asignated'}" ng-click="$ctrl.setSection('asignated')">
            <div class="center-align">
                Asignados
            </div>
        </div>
        <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'proccess'}" ng-click="$ctrl.setSection('proccess')">
            <div class="center-align">
                En proceso
            </div>
        </div>
        <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'finished'}" ng-click="$ctrl.setSection('finished')">
            <div class="center-align">
                Evaluados
            </div>
        </div>
    </div>
    <div class="card row activity-content" ng-if="!$ctrl.requisite">
        <div class="col s10 offset-s1">
            <h4>{{$ctrl.entity.name}}</h4>
            <div class="row">
            <requisite-item class="col m6 s12" 
            item="service" 
            ng-repeat="service in $ctrl.list" 
            on-selected="$ctrl.setService(service)"
            ></requisite-item>
            </div>
        </div>
        <div class="row">
            <div class="col m10 s10 offset-m1 offset-s1 brown color-white pager center-align">
                <ul>
                    <li ng-if="$ctrl.pager.before" ng-click="results.pager.prev()">
                        <i class="fa fa-step-backward"></i>
                    </li>
                    <li ng-repeat="page in $ctrl.pager.pages" ng-click="$ctrl.navigate(page)" class="page">{{page}}</li>
                    <li ng-if="$ctrl.pager.after" ng-click="results.next()">
                        <i class="fa fa-step-forward"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <service-evaluator 
        ng-if="$ctrl.requisite" 
        request="$ctrl.requisite"
        on-finished="$ctrl.reset()"></service-evaluator>
    
</section>