<section class="activity">
    <div class="row activity-tabs" ng-if="!$ctrl.service">
        <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'certified'}" ng-click="$ctrl.setSection('certified')">
            <div class="center-align">
                Sellos Otorgados
            </div>
        </div>
        <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'proccess'}" ng-click="$ctrl.setSection('proccess')">
            <div class="center-align">
                En proceso
            </div>
        </div>
        <div class="card tab valign-wrapper" ng-class="{active:$ctrl.section === 'rejected'}" ng-click="$ctrl.setSection('rejected')">
            <div class="center-align">
                No Otorgados
            </div>
        </div>
    </div>
    <div class="card row activity-content" ng-if="!$ctrl.service">
        <div class="col m10 s10 offset-s1 offset-m1">
            <h4>{{$ctrl.entity.name}}</h4>
            <service-item  item="service" ng-repeat="service in $ctrl.list" 
            on-selected="$ctrl.setService(service)"
            on-rejected="$ctrl.setService(service)"
            on-certificate="$ctrl.onCertificate(service)"></service-item>
        </div>
        <div class="row" ng-if="$ctrl.pager.total_pages > 1">
            <div class="col m10 s10 offset-m1 offset-s1 brown color-white pager center-align">
                <ul>
                    <li ng-if="$ctrl.pager.before" ng-click="$ctrl.prev()">
                        <i class="fa fa-step-backward"></i>
                    </li>
                    <li ng-repeat="page in $ctrl.pager.pages" ng-click="$ctrl.navigate(page)" 
                    ng-class="{'active':$ctrl.query.page == page}" class="page">{{page}}</li>
                    <li ng-if="$ctrl.pager.after" ng-click="$ctrl.next()">
                        <i class="fa fa-step-forward"></i>
                    </li>
                </ul>
            </div>
        </div>
        <a modal data-target="certificate" open="$ctrl.openCertificate"></a>
    </div>
    <service-entity ng-if="$ctrl.service" service="$ctrl.service"></service-entity>
    
    <div id="certificate" class="modal center-align">
        <img src="assets/img/diploma.png">
        <div class="certificate-content">
            <div class="title">CERTIFICADO</div>
            <div class="subtitle">DE RECONOCIMIENTO</div>
            <div class="intro">EL MINISTERIO DE TECNOLOGÍAS DE LA INFORMACIÓN Y LAS</div>
            <div class="intro">COMUNICACIONES A TRAVÉS DE LA DIRECCIÓN DE GOBIERNO DIGITAL</div>
            <div class="pre">CERTIFICA QUE</div>
            <div class="entity">{{$ctrl.certificate.entity | uppercase}}</div>
            <div class="pre">SE POSTULÓ Y CUMPLIÓ CON LOS REQUISITOS DE CALIDAD EXIGIDOS POR</div>
            <div class="pre">EL MINISTERIO TIC, PARA EL NIVEL <span class="entity">{{$ctrl.certificate.level}}</span> Y LE OTORGA EL SELLO DE EXCELENCIA</div>
            <div class="pre">GOBIERNO DIGITAL AL PRODUCTO <span class="entity">{{$ctrl.certificate.product | uppercase}}</span></div>
        </div>
        <div class="signature">DIRECTORA DE GOBIERNO DIGITAL</div>
        <div class="certification-date">{{$ctrl.certificate.date | date:'dd -   MMMM - yyyy'}}</div>
    </div>
    
</section>