@import '../../../colors.styl'

.activity .activity-tabs
    margin-bottom 0px

.activity .activity-tabs .tab
    margin-bottom 0px

.activity .activity-content
    margin-top 0px

.activity .pager ul
    list-style-type none
    clear both
    padding 10px 10px
    margin 0px
    
.activity .pager ul li
    display inline
    cursor pointer
    padding 5px