<div class="row">
  <section class="wrapperForm">
    <form name="forgotPasswordForm " ng-submit="$ctrl.forgotPassword()">
      <div class="center-align">
      <h5>¿Haz olvidado tu contraseña?</h5>
      <small>Ingresa tu dirección de correo y en instantes te enviaremos las instrucciones para resetear tu contraseña.</small>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input type="email" name="email" ng-model="$ctrl.email" class="validate" required/>
          <label for="email" data-error="Ingresa un email válido" data-success="Ok">Email: </label>
        </div>
      </div>
      <div class="center-align" style="margin-bottom:8px">
        <button type="submit" class="waves-effect waves-light btn-large" ng-disabled="forgotPasswordForm.$invalid">
          <i class="material-icons right">vpn_key</i>
          Resetear contraseña
        </button>
      </div>
    </form>
  </section>
</div>
