
.requisite-item
    display flex
    flex-flow row
    padding 5px

.requisite-item .badge img
    width 60px
    margin 5px
    margin-bottom 0px

.requisite-item .service-item-content
    flex-grow 3
    margin-left 5px

.requisite-item .service-item-content .content
    flex-grow 3

.requisite-item .service-item-content .brown
    padding-left 5px

.requisite-item .service-item-content .gainsboro
    position relative
    padding-left 5px
    display flex
    margin 0px

requisite-item .service-item-content .action
    cursor pointer
    padding 0px 10px


.requisite-item .service-item-content .action i
    font-size 40px