<section class="postulateEvaluator">

    <div class="search row">
        <div class="col m1 s12 search-label">
            <span class="color-brown">Buscar:</span>
        </div>
        <div class="col m3 s12">
            <!--input ng-model="$ctrl.query.entity" placeholder="Nombre de la entidad"></input-->
            <autocomplete on-selected="$ctrl.selectedInstitution(item)" endpoint="$ctrl.institutionEndpoint" placeholder="Entidad"></autocomplete>
        </div>
        <div class="col m3 s12">
            <!--input ng-model="$ctrl.query.department" placeholder="Departamento"></input-->
            <autocomplete on-selected="$ctrl.selectedRegion(item)" endpoint="$ctrl.regionEndpoint" placeholder="Departamento"></autocomplete>
        </div>
        <div class="col m2 s12">
            <select ng-model="$ctrl.query.fields['category.id']" material-select watch ng-change="$ctrl.getData()">
                <option ng-value="null" selected>Categoría</option>
                <option ng-value="{{category.id}}" ng-repeat="category in $ctrl.categories">{{category.name}}</option>
            </select>
        </div>
        <div class="col m2 s12">
            <select ng-model="$ctrl.query.fields.level" material-select ng-change="$ctrl.getData()">
                <option ng-value="null" selected>Nivel</option>
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
            </select>

        </div>
        <div class="col m1 s12">
            <a class="btn-floating waves-effect waves-light  brown" ng-click="$ctrl.search()">
                    <i class="material-icons color-white">search</i>
                </a>
        </div>
    </div>


    <div class="card row activity-content" ng-if="!$ctrl.service">
        <div class="col s10 offset-s1">
            <h4>{{$ctrl.entity.name}}</h4>
            <div class="row">
                <h3 class="center-align" ng-if="$ctrl.noTopics">Debes seleccionar al menos una categoría y temática para postularte a evaluar</h3>
                <requisite-item class="col m6 s12" 
                    item="requisite" 
                    ng-repeat="requisite in $ctrl.list"
                    may-apply="true"
                    on-selected="$ctrl.confirm(requisite)">
                </requisite-item>
            </div>
        </div>
        <div class="row">
            <div class="col m10 s10 offset-m1 offset-s1 brown color-white pager center-align">
                <ul>
                    <li ng-if="$ctrl.pager.before" ng-click="results.pager.prev()">
                        <i class="fa fa-step-backward"></i>
                    </li>
                    <li ng-repeat="page in $ctrl.pager.pages" ng-click="$ctrl.navigate(page)" class="page">{{page}}</li>
                    <li ng-if="$ctrl.pager.after" ng-click="results.next()">
                        <i class="fa fa-step-forward"></i>
                    </li>
                </ul>
            </div>
        </div>
        <a modal data-target="confirm" open="$ctrl.openConfirmation"></a>
    </div>
    <div id="confirm" class="modal">
        <div class="modal-content center-align">
            <div class="border">
                <i class="fa fa-check color-green"></i><br>
                <span class="color-brown congratulations">Desea aplicar como evaluador para:</span><br>
                <span class="color-lightseagreen">{{$ctrl.selected.question.text}}</span><br>
                <span>{{$ctrl.selected.service.name}}</span>
            </div>
        </div>
        <div class="center-align footer">
            <a class="btn modal-action modal-close" ng-click="$ctrl.createRequest()">Aceptar</a>
            <a class="btn brown modal-action modal-close">Cerrar</a>
        </div>
    </div>
</section>