
.service-item
    display flex
    flex-flow row

.service-item .badge img
    width 60px
    margin 5px
    margin-bottom 0px

.service-item .service-item-content
    flex-grow 3
    margin-left 5px

.service-item .service-item-content .brown
    padding-left 5px

.service-item .service-item-content .gainsboro
    position relative
    padding-left 5px

.service-item .service-item-content .action
    cursor pointer
    position absolute
    right 5px
    top 5px

.service-item .service-item-content .action i
    font-size 40px