<a class="embeded" href="https://prueba-dot-domoti-sellodeexcelencia.appspot.com/detalle/{{$ctrl.item.id}}" target="_blank">
    <div class="container center-align">
        <div class="row logo">
            <div class="badge" ng-if="$ctrl.item.is_active">
                <div alt="badge" class="fame-icon category-{{$ctrl.item.id_category}} level-{{$ctrl.item.level}}"></div>
            </div>
            <div class="badge" ng-if="!$ctrl.item.is_active">
                <h3>El Sello de Excelencia no está vigente</h3>>
            </div>
        </div>
    </div>
</a>