<div class="slider">
  <div class="absolute-left">
    <span class="material-icons arrow pointer" ng-click="$ctrl.changeSlider('prev')">keyboard_arrow_left</span>
  </div>
  <div class="absolute-right">
    <span class="material-icons arrow pointer" ng-click="$ctrl.changeSlider('next')">keyboard_arrow_right</span>
  </div>
  <ul class="slides">
    <li class="white">
      <div class="caption left-align">
        <img src="assets/img/sell_gel.png" class="slider-img left" alt="sello" title="sello de experiencia">
        <h5 class="color-lightseagreen">¿Qué es el sello?</h5>
        <p class=" black-text">
          El Sello de Excelencia es un instrumento que permite garantizar las condiciones necesarias para que el ciudadano acceda de manera confiable a trámites, servicios y productos de calidad de las entidades públicas por medios electrónicos, permitiéndole una constante interacción con el Estado para participar en la construcción de servicios ágiles, seguros, usables y efectivos.
        </p>
        <p>
          <a class="waves-effect waves-light btn"><i class="material-icons right">person_add</i>Registrarme</a>
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption left-align">
        <p class="black-text">
          El modelo del Sello de Excelencia es un modelo gratuito, abierto y participativo, en donde el eje principal será la Comunidad del Sello, la cual estará conformada por usuarios de los trámites, servicios y productos, y expertos en Gobierno Electrónico, quienes serán los encargados de evaluar la calidad de los requisitos que componen las siguientes categorías:
            <div class="list black-text">
              <span class="material-icons green-text darken-1">check</span> Servicios en línea<br>
              <span class="material-icons green-text darken-1">check</span> Gobierno Abierto<br>
              <span class="material-icons green-text darken-1">check</span> Capacidades de TI
            </div>
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption right-align">
        <h5 class="black-text">Servicios en línea</h5>
        <p class="black-text">
          El Sello de Excelencia se otorgará a los trámites y servicios en línea de las entidades que cuenten, entre otras cosas con: disponibilidad en línea, seguridad, soporte al usuario y acceso por diferentes canales.
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption center-align">
        <h5 class="black-text">Gobierno Abierto</h5>
        <p class="black-text">
          Para obtener el Sello de Excelencia en temas de Gobierno abierto, los conjuntos de datos abiertos y las plataformas de participación deben cumplir con características que propicien un gobierno transparente, abierto y participativo.
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption left-align">
        <h5 class="black-text">Capacidades de TI</h5>
        <p class="black-text">
          El Sello de Excelencia en Capacidades TI se otorgará cuando la entidad incorpore las capacidades institucionales y corporativas que aseguren un adecuado funcionamiento de sus recursos de TI.
        </p>
      </div>
    </li>
  </ul>
</div>
