<div class="slider sliderone">
  <div class="absolute-left">
    <span class="material-icons arrow pointer" ng-click="$ctrl.changeSlider('prev')">keyboard_arrow_left</span>
  </div>
  <div class="absolute-right">
    <span class="material-icons arrow pointer" ng-click="$ctrl.changeSlider('next')">keyboard_arrow_right</span>
  </div>
  <ul class="slides">
    <li class="white">
      <div class="caption left-align">
        <img src="assets/img/sell_gel.png" class="slider-img left" title="sello de experiencia">
        <h5 class="color-lightseagreen font-bold">¿Qué es el sello?</h5>
        <p class=" black-text">
          El Sello de Excelencia es un instrumento que permite garantizar las condiciones necesarias para que el ciudadano acceda de manera confiable a trámites, servicios y productos de calidad de las entidades públicas por medios electrónicos, permitiéndole una constante interacción con el Estado para participar en la construcción de servicios ágiles, seguros, usables y efectivos.
        </p>
        <p>
          <a href="#/mas-informacion">Más información</a>
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption left-align">
        <p class="black-text">
          El modelo del Sello de Excelencia es un modelo gratuito, abierto y participativo, en donde el eje principal será la Comunidad del Sello, la cual estará conformada por usuarios de los trámites, servicios y productos, y expertos en Gobierno Electrónico, quienes serán los encargados de evaluar la calidad de los requisitos que componen las siguientes categorías:
        </p>
        <div class="list">
          <span class="material-icons green-text darken-1">check</span> <span class="color-lightseagreen font-bold">Servicios en línea</span><br>
          <span class="material-icons green-text darken-1">check</span> <span class="color-lightseagreen font-bold">Gobierno Abierto</span><br>
          <span class="material-icons green-text darken-1">check</span> <span class="color-lightseagreen font-bold">Capacidad de Gestión de TI</span>
        </div>
        <section class="list-images row center-align">
          <div class="col s12 m4 black-text">
            <span class="color-lightseagreen font-bold display-block">Servicio en Linea</span>
            <img src="assets/img/servicio_en_linea.png" class="slider-img">
          </div>
          <div class="col s12 m4">
            <span class="color-lightseagreen font-bold display-block">Gobierno Abierto</span>
            <img src="assets/img/gobierno_abierto.png" class="slider-img">
          </div>
          <div class="col s12 m4">
            <span class="color-lightseagreen font-bold display-block">Capacidad de Gestión de TI</span>
            <img src="assets/img/capacidad_TI.png" class="slider-img">
          </div>
        </section>
      </div>
    </li>
    <li class="white">
      <div class="caption left-align">
        <img src="assets/img/servicio_en_linea.png" class="slider-img left" title="servicio en linea">
        <h5 class="color-lightseagreen font-bold">Servicio en línea</h5>
        <p class="black-text">
          El Sello de Excelencia se otorgará a los trámites y servicios en línea de las entidades que cuenten, entre otras cosas con: disponibilidad en línea, seguridad, soporte al usuario y acceso por diferentes canales.
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption left-align">
        <img src="assets/img/gobierno_abierto.png" class="slider-img left" title="gobierno abierto">
        <h5 class="color-lightseagreen font-bold">Gobierno Abierto</h5>
        <p class="black-text">
          Para obtener el Sello de Excelencia en temas de Gobierno abierto, los conjuntos de datos abiertos y las plataformas de participación deben cumplir con características que propicien un gobierno transparente, abierto y participativo.
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption left-align">
        <img src="assets/img/capacidad_TI.png" class="slider-img left" title="capacidad TI">
        <h5 class="color-lightseagreen font-bold">Capacidades de Gestión de TI</h5>
        <p class="black-text">
          El Sello de Excelencia en Capacidades de gestión TI se otorgará cuando la entidad incorpore las capacidades institucionales y corporativas que aseguren un adecuado funcionamiento de sus recursos de TI.
        </p>
      </div>
    </li>
  </ul>
</div>
