<div class="slider">
  <div class="absolute-left">
    <span class="material-icons arrow pointer" ng-click="$ctrl.changeSlider('prev')">keyboard_arrow_left</span>
  </div>
  <div class="absolute-right">
    <span class="material-icons arrow pointer" ng-click="$ctrl.changeSlider('next')">keyboard_arrow_right</span>
  </div>
  <ul class="slides">
    <li class="white">
      <div class="caption left-align">
        <img src="assets/img/sell_gel.png" class="slider-img left" alt="sello" title="sello de experiencia">
        <h5 class="color-lightseagreen">¿Qué es el sello?</h5>
        <p class=" black-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
          <a class="waves-effect waves-light btn"><i class="material-icons right">person_add</i>Registrarme</a>
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption center-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="black-text">Here's our small slogan.</h5>
        <p class="black-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="black-text">Here's our small slogan.</h5>
        <p class="black-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </li>
  </ul>
</div>
