<div class="card row advanceEntity">
    <div class="col m10 offset-m1 s10 offset-s1 points">
        
        <div class="col m3 s6 center-align">
            <div class="point card">
                <div class="lightseagreen color-white ">
                    Mi puntaje
                </div>
                <div class="fa fa-certificate star color-yellow">
                    <span class="color-white">{{$ctrl.user.points |number : 0}}</span>
                </div><br>
                <span>Puntos</span>
            </div>
        </div>

        <div class="col m3 s6 center-align">
            <div class="point card">
                <div class="lightseagreen color-white ">
                    Evaluaciones
                </div>
                <div class="fa fa-check-circle star color-points">
                    <span class="color-darkgray">{{$ctrl.user.points |number : 0}}</span>
                </div><br>
                <span>Requisitos Evaluados</span>
            </div>
        </div>

        <div class="col m3 s6 center-align">
            <div class="point card">
                <div class="lightseagreen color-white ">
                    Participaciones
                </div>
                <div class="fa fa-play-circle star color-points">
                    <span class="color-darkgray">{{$ctrl.user.points |number : 0}}</span>
                </div><br>
                <span>Participaciones en Live</span>
            </div>
        </div>

        <div class="col m3 s6 center-align">
            <div class="point card">
                <div class="lightseagreen color-white ">
                    Eventos
                </div>
                <div class="fa fa-users users star color-points">
                    <span class="color-darkgray">{{$ctrl.user.points |number : 0}}</span>
                </div><br>
                <span>Participaciones en eventos</span>
            </div>
        </div>
        <div class="row">
            <a class="pull-right color-lightseagreen" data-target="lost" modal>Ver puntos perdidos <i class="fa fa-caret-right"></i></a>
        </div>
    </div>



    <div class="col m10 offset-m1 s10 offset-s1 ">
        <h3 class="color-brown">¿Cómo puedo obtener puntos?</h3>
        <ul>
            <li>XXXX</li>
            <li>XXXX</li>
            <li>XXXX</li>
            <li>XXXX</li>
            <li>XXXX</li>
            <li>XXXX</li>
        </ul>
    </div>
    <div id="lost" class="modal">
        <div class="row">
            <div class="col s12 brown color-white">
                <span>Puntos Perdidos</span>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <table class="striped">
                    <thead>
                        <tr>
                            <th data-field="text">Concepto</th>
                            <th data-field="points">Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-minus-circle color-red"></i> XXXXXXXXXXXXXXXX </td>
                            <td class="color-red"> -1 punto</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row center-align">
            <a class="btn brown modal-action modal-close">CERRAR</a>
        </div>
    </div>
</div>