<section class="learn">
    <div class="card row">
        <div class="row featured">
            <div class="col m4 s12 left">
                <div class="brown color-white">
                    Próximo Live:
                </div>
                <div class="image">
                    <img ng-src="{{$ctrl.selected.image}}">
                </div>
            </div>
            <div class="col m6 s12">
                <h3 class="color-brown">{{$ctrl.selected.name}}</h3>
                <span class="color-black">{{$ctrl.selected.description}}</span><br>
                <span>{{$ctrl.selected.date | date}}</span><br>
                <a class="btn">Entrar al live</a><br>
                <small class="pull-right">*El enlace será habilitado en el momento de comenzar la transmisión</small>
            </div>
        </div>
        <div class="row">
            <div class="col m4 s12  learnitem" ng-repeat="item in $ctrl.list" ng-click="$ctrl.setSelected(item)">
                <div class="gainsboro row learnitem-content">
                    <div class="image col m4 s4">
                        <img ng-src="{{item.image}}">
                    </div>
                    <div class="col m8 s8">
                        <span class="color-brown">{{item.name}}</span>
                        <span>{{item.description}}</span><br>
                        <span>{{item.date | date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>