.learn .left
    border-right solid 1px

.learn .card
    padding-top 10px
    
.learn .featured
    margin 10px 

.learn .featured .brown
    padding 5px
    margin-bottom 5px

.learn .image img
    width 100%

.learn .learnitem
    cursor pointer

.learn .learnitem-content
    margin 10px

.learn .learnitem .image
    align-items center