@import '../../colors.styl'

nav 
  background-color $gainsboro

.logos
  display: inline-block
  margin-left: 29%

.brand-logo img
  margin-left: 15px
  margin-top: 5px

.brand-logo small
  margin-left: 8px
  vertical-align: top

@media screen and (max-width: 1000px)
  .logos
    display: none
