@import '../../colors.styl'

nav 
  background-color $gainsboro

.logos
  display: inline-block
  margin-left: 29%

.brand-logo img
  margin-left: 10px

@media screen and (max-width: 1000px)
  .logos
    display: none
