<section class="postulate">
    <div class="card row">
        <div class="col m10 s10 offset-s1 offset-m1">
            <h4>{{$ctrl.entity.name}}</h4>
            <div class="row">
                <div class="col m6 s12">
                    <div class="input-field">
                        <select ng-model="$ctrl.service.category" material-select>
                              <option value="1">Trámites y Servicios</option>
                              <option value="2">Datos Abiertos</option>
                              <option value="3">Gobierno en Linea</option>
                              <option value="4">Municipal</option>
                            </select>
                        <label>Categoría:</label>
                    </div>
                </div>
                <div class="col m6 s12">
                    <div class="input-field">
                        <select ng-model="$ctrl.service.level" material-select>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                        <label>Nivel:</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12">
                    <div class="input-field">
                        <input id="entityname" type="text" class="validate" ng-model="$ctrl.service.name" required>
                        <label for="entityname" data-error="Ingresa el nombre del servicio" data-success="Ok">
                        <strong class="red-text">*</strong> Nombre:</label>
                    </div>
                </div>
                <div class="col m6 s12">
                    <div class="input-field">
                        <input id="entitynit" type="url" class="validate" ng-model="$ctrl.service.url" required>
                        <label for="entitynit" data-error="Ingresa URL" data-success="Ok">
                    <strong class="red-text">*</strong> URL:</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="checkbox" id="terms" ng-model="$ctrl.service.test" />
                <label for="terms">¿Requiere Usuario de Prueba?</label>
            </div>
            <div class="row" ng-if="$ctrl.service.test">
                <div class="col m6 s12">
                    <div class="input-field">
                        <input id="entityname" type="text" class="validate" ng-model="$ctrl.service.username">
                        <label for="entityname" data-error="Ingresa el nombre del servicio" data-success="Ok">
                            <strong class="red-text">*</strong> Usuario de Prueba:</label>
                    </div>
                </div>
                <div class="col m6 s12">
                    <div class="input-field">
                        <input id="entitynit" type="text" class="validate" ng-model="$ctrl.service.password">
                        <label for="entitynit" data-error="Ingresa URL" data-success="Ok">
                        <strong class="red-text">*</strong> Contraseña de Prueba:</label>
                    </div>
                </div>
            </div>
            <div class="row center-align">
                <div class="btn brown">CREAR SERVICIO</div>
            </div>
            <a class='btn' data-target='postulated' modal>Calificar</a>
        </div>
    </div>
    <requisite item="item" ng-repeat="item in $ctrl.requisites"></requisite>

    <div id="postulated" class="modal">
        <div class="modal-content center-align">
            <div class="border">
                <i class="fa fa-check color-green"></i><br>
                <span class="color-brown congratulations">Has realizado una postulación</span><br>
                <span class="color-lightseagreen">En unos instantes entrará en proceso de evaluación</span>
            </div>
        </div>
        <div class="center-align footer">
            <a class="btn brown modal-action modal-close">Continuar</a>
            <a class="btn lightseagreen modal-action modal-close">Hacer otra postulación</a>
        </div>
    </div>
</section>