@import '../../colors.styl'

body
  background: $gainsboro
  font-size: 16px
  font-color $darkgray !important

.gainsboro
  background $gainsboro !important

.brown
  background $brown !important

.lightseagreen
  background $lightseagreen !important

.darkgray
  background $darkgray !important

.footergray
  background $footergray !important

.color-gainsboro
  color: $gainsboro !important

.color-brown
  color $brown !important

.color-lightseagreen
  color $lightseagreen !important

.color-darkgray
  color $darkgray !important

.btn,
.btn-large
  background-color $brown !important

.btn:hover,
.btn-large:hover
  background-color $brownOsucuro !important

.font-medium
  font-size: 1.5em
