@import '../../colors.styl'

body
  background: $gainsboro
  font-size: 16px

.color-gainsboro
  color: $gainsboro

.color-brown
  color $brown

.color-lightseagreen
  color $lightseagreen

.btn
  background-color $brown

.btn:hover
  background-color $brownOsucuro
