@import '../../colors.styl'

body
  background: $gainsboro
  font-size: 16px

.gainsboro
  background $gainsboro !important

.brown
  background $brown !important

.lightseagreen
  background $lightseagreen !important

.color-gainsboro
  color: $gainsboro !important

.color-brown
  color $brown !important

.color-lightseagreen
  color $lightseagreen !important

.btn,
.btn-large
  background-color $brown !important

.btn:hover,
.btn-large:hover
  background-color $brownOsucuro !important
