<div class="row">
  <section class="wrapperForm">
    <form name="signUpForm " ng-submit="$ctrl.signUp()">
      <h5 class="center-align">Regístrate</h5>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input type="email" name="email" ng-model="$ctrl.credentials.email" class="validate" required/>
          <label for="email" data-error="Ingresa un email válido" data-success="Ok">Email: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input type="password" name="password" ng-model="$ctrl.credentials.password" class="validate" required/>
          <label for="password">Contraseña: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <select>
            <option value="1">Entidad</option>
            <option value="2">Evaluador</option>
          </select>
          <label>Te registras como :</label>
        </div>
      </div>
      <div class="center-align row">
        <button type="submit" class="waves-effect waves-light btn-large" ng-disabled="signUpForm.$invalid">
          <i class="material-icons right">person_add</i>
          Crear cuenta
        </button>
      </div>
      <div class="separator center-align">
        <small class="grey-text lighten-4">
          ¿Ya estas registrado? <a href="#/sign-in" class="pointer">Inicia sesión aqui</a>
        </p>
      </div>
    </form>
  </section>
</div>
